body {
    font-family: 'Inter', sans-serif;
    background-color: #1e1e1e;
    padding: 20px;
    color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #f0f0f0;
}

.post {
    background-color: #333333;
    color: #f0f0f0;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
    color: #e08181ff;
}

.post p {
    margin: 10px 0;
}